.card {
  border-radius: 10px;
  background: var(--component-color);
  color: var(--text-color);
  transition: var(--tran-03);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.card-title {
  font-family: inherit;
  font-size: 22px;
  font-weight: bold;
}

.card-subtitle {
  font-family: inherit;
}

.card-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-toolbar-button {
  color: var(--component-color);
  font-size: 30px;
  border-radius: 50%;
  padding: 5px;
}

.card-content {
  padding: 20px;
  border-radius: 10px;
  font-size: 10px;
}

table {
  background: var(--component-color);
  min-height: calc(100vh - 90px);
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-color: var(--text-color);
  color: inherit;
  background-color: var(--body-color);
  transition: var(--tran-03);
}

tr, td {
  padding-top: 5px;
  padding-bottom: 5px;
  color: inherit;
  font-size: 14px;
  background-color: inherit;
}

.table-action-button {
  font-size: 24px;
  padding: 5px;
  background: transparent;
  border: none;
  color: var(--text-color);
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=================== OVERRIDINGS ====================*/

:host ::ng-deep .p-progress-spinner-circle {
  stroke: var(--primary-color) !important;
}

:host ::ng-deep .p-paginator,
:host ::ng-deep .p-paginator-element,
:host ::ng-deep .p-element.p-dropdown-label {
  color: var(--text-color);
  background: var(--component-color);
  font-size: 13.5px;
  transition: var(--tran-03);
}

:host ::ng-deep .p-paginator-current {
  color: var(--text-color);
}

:host ::ng-deep .p-paginator-rpp-options {
  font-size: inherit;
  align-items: center;
  height: fit-content;
  background: var(--component-color);
  color: var(--text-color);
}

:host ::ng-deep svg.p-icon.p-sortable-column-icon {
  color: var(--primary-color);
}

