<nav class="nav-menu">
  <div class="btn-expand-container">
    <span class="material-icons md-light md-24 md-pointer" id="btn-expand">menu</span>
  </div>
  <ul>
    <li class="menu-item active">
      <a href="#">
        <span class="material-icons md-light md-24 md-margin-10">home</span>
        <span class="text-link">Início</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#">
        <span class="material-icons md-light md-24 md-margin-10">currency_exchange</span>
        <span class="text-link">Transações</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#">
        <span class="material-icons md-light md-24 md-margin-10">account_balance</span>
        <span class="text-link">Contas</span>
      </a>
    </li>
    <li class="menu-item">
      <a href="#">
        <span class="material-icons md-light md-24 md-margin-10">category</span>
        <span class="text-link">Categorias</span>
      </a>
    </li>
  </ul>
</nav>


<router-outlet />
