<mat-toolbar>
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">My App</span>
  <span class="toolbar-spacer"></span>
  <div class="toolbar-align-right">
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>


<router-outlet />
