* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Rules for cursor. */
.material-icons.md-pointer {
  cursor: pointer;
}

.material-icons.md-margin-10 {
  margin-left: 10px;
}

nav.nav-menu {
  width: 60px;
  height: 100%;
  background-color: #202020;
  padding: 20px 0 40px 10px;
  box-shadow: 3px 0 0 #1a73e8;

  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

nav.nav-menu.expand {
  width: 300px;
}

.btn-expand-container {
  width: 100%;
  padding-left: 12px;
  padding-bottom: 20px;
}

ul {
  height: 100%;
  list-style-type: none;
}

ul li.menu-item {
  transition: 0.2s;
}

ul li.active {
  background-color: #1a73e8;
}

ul li.menu-item:hover {
  background: #1a73e8;
}

ul li.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 4%;
  display: flex;
  margin-bottom: 10px;
  line-height: 26px;
}

ul li.menu-item a .text-link {
  margin-left: 50px;
  transition: 0.7s;
  opacity: 0;
}

nav.nav-menu.expand .text-link {
  margin-left: 20px !important;
  opacity: 1 !important;
}
